/* ANIMAÇÃO */
@keyframes fadeFromLeft {
	to {
		left: 0;
		opacity: 1;
	}
}
.fade-from-left {
	animation: fadeFromLeft 1.5s .5s forwards cubic-bezier(0, 1.01, .32, 1);
}
@keyframes scaleUp {
	to {
		transform: scale(1);
	}
}
.scale-up {
	animation: scaleUp .5s .5s forwards cubic-bezier(0, 1.01, .32, 1);
}
@keyframes scaleRight {
	to {
		transform: scaleX(1);
	}
}
.scale-right {
	animation: scaleRight .7s .2s forwards cubic-bezier(0, 1.01, .32, 1);
}
@keyframes fadeOut {
	to {
		opacity: 0;
	}
}
.fade-out {
	animation: fadeOut 2s forwards ease-in;
}
@keyframes rubberBand {
	from {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}

	30% {
		-webkit-transform: scale3d(1.25, 0.75, 1);
		transform: scale3d(1.25, 0.75, 1);
	}

	40% {
		-webkit-transform: scale3d(0.75, 1.25, 1);
		transform: scale3d(0.75, 1.25, 1);
	}

	50% {
		-webkit-transform: scale3d(1.15, 0.85, 1);
		transform: scale3d(1.15, 0.85, 1);
	}

	65% {
		-webkit-transform: scale3d(0.95, 1.05, 1);
		transform: scale3d(0.95, 1.05, 1);
	}

	75% {
		-webkit-transform: scale3d(1.05, 0.95, 1);
		transform: scale3d(1.05, 0.95, 1);
	}

	to {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}
.rubberBand {
	-webkit-animation-name: rubberBand;
	animation-name: rubberBand;
}
