/* FONTS */
@import url('https://fonts.googleapis.com/css?family=La+Belle+Aurore|Roboto+Mono:100,300,400,500,700|Roboto:100,300,400,500,700&display=swap');
@font-face {
	font-family: MyFont;
	src: url('../font/myfont-ultra-light.otf');
}

/* ANIMAÇÃO */
@keyframes fadeOut {
	to {
		opacity: 0;
	}
}
.fade-out {
	animation: fadeOut 2s forwards ease-in;
}
@keyframes rubberBand {
	from {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}

	30% {
		-webkit-transform: scale3d(1.25, 0.75, 1);
		transform: scale3d(1.25, 0.75, 1);
	}

	40% {
		-webkit-transform: scale3d(0.75, 1.25, 1);
		transform: scale3d(0.75, 1.25, 1);
	}

	50% {
		-webkit-transform: scale3d(1.15, 0.85, 1);
		transform: scale3d(1.15, 0.85, 1);
	}

	65% {
		-webkit-transform: scale3d(0.95, 1.05, 1);
		transform: scale3d(0.95, 1.05, 1);
	}

	75% {
		-webkit-transform: scale3d(1.05, 0.95, 1);
		transform: scale3d(1.05, 0.95, 1);
	}

	to {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}
.rubberBand {
	-webkit-animation-name: rubberBand;
	animation-name: rubberBand;
}

/* VARIÁVEIS */
:root {
	--theme-color: #28f5be;
	--primary-color-0: #1e1e1e;
	--primary-color-1: #232323;
	--primary-color-2: #8c8c8c;
	--primary-color-3: #fff;
}

/* RESET */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	vertical-align: baseline;
}
html,
body {
	background: var(--primary-color-0);
	color: var(--primary-color-3);
}
body {
	font-family: 'Roboto', sans-serif;
	/* overflow-x: hidden; */
}
ol,
ul {
	list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
}
span {
	display: inline-block;
}
a {
	text-decoration: none;
	color: inherit;
}
p {
	font-family: 'Roboto Mono', monospace;
	font-weight: 400;
	font-size: 14px;
}
img {
	display: block;
	max-width: 100%;
}
input,
button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
button {
	outline: 0;
	border: none;
	background: transparent;
	cursor: pointer;
}

/* CLASSES GERAIS */
.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
@media (min-width: 576px) {
	.container {
		max-width: 540px;
	}
}
@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}
}
@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}
}
@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
}
@media (min-width: 1920px) {
	.container {
		max-width: 1640px;
	}
}
.logo-nav {
	display: block;
	width: 150px;
}
.tags {
	color: var(--primary-color-2);
	position: fixed;
	bottom: 0;
	left: 20px;
	font-size: 18px;
	font-family: 'La Belle Aurore', cursive;
	z-index: 500;
}
.top-tags {
	bottom: auto;
	top: 100px;
}
.bottom-tags {
	bottom: 20px;
}
.title {
	position: relative;
	display: block;
	margin-top: 40px;
	margin-bottom: 40px;
	text-transform: uppercase;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
}
.title h1 {
	font-size: 14px;
	font-family: MyFont;
}
.title h1::before,
.title h1::after {
	text-transform: none;
	font-family: 'La Belle Aurore', cursive;
	font-size: 18px;
	color: var(--primary-color-2);
	position: absolute;
}
.title h1::before {
	content: '<h1>';
	top: -40px;
}
.title h1::after {
	content: '</h1>';
	bottom: 0;
	left: 140px;
}
.title h1 > span {
	display: block;
	font-size: 70px;
	line-height: 70px;
	margin-left: -5px;
	letter-spacing: -.1em;
}
.markup {
	background: var(--theme-color);
	color: var(--primary-color-0);
	display: table;
	font-size: 40px;
	font-weight: 400;
	line-height: 40px;
	margin-bottom: 20px;
}
.text-green {
	color: var(--theme-color);
}
.box-shadow {
	-webkit-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.75);
}
.text-shadow {
	-webkit-text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
	-moz-text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
	text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
}
/* FORMATAÇÃO GERAL */
.home,
.cases {
	height: 100vh;
	position: relative;
}
/* BUTTONS */
.btn {
	border: 1px solid var(--theme-color);
	margin: 20px 0;
	display: table;
	border-radius: 2px;
	text-align: center;
	font-weight: 600;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	-webkit-transition: all .2s ease-out;
	transition: all .2s ease-out;
}
.btn-small {
	height: 25px;
	line-height: 25px;
	padding: 0 20px;
	border-radius: 2px;
	font-size: 11px;
}
.btn-medium {
	height: 35px;
	line-height: 35px;
	padding: 0 20px;
	border-radius: 2px;
	font-size: 14px;
}
.btn-large {
	height: 40px;
	line-height: 40px;
	padding: 0 35px;
	border-radius: 2px;
	font-size: 16px;
}
.btn-extra-large {
	width: 100%;
	height: 40px;
	padding: 0 35px;
	font-size: 16px;
}
.btn-dark {
	color: var(--primary-color-3);
	background: var(--primary-color-0);
}
.btn-dark:hover {
	background: var(--primary-color-1);
	color: var(--theme-color);
}
.btn-medium-dark {
	color: var(--primary-color-3);
	background: var(--primary-color-1);
}
.btn-medium-dark:hover {
	background: var(--theme-color);
	color: var(--primary-color-0);
}
.btn-green {
	color: var(--primary-color-3);
	background: var(--theme-color);
}
.btn-green:hover {
	background: var(--primary-color-1);
	color: var(--theme-color);
}

/* TOPBAR MENU */
.topbar {
	background: var(--primary-color-0);
	padding: 5px 0;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 500;
}
.topbar > .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;
}
span.icon-menu {
	display: block;
	width: 2em;
	height: 2em;
	cursor: pointer;
	border-radius: 0px;
	-webkit-transition: all .3s ease, -webkit-transform .2s ease;
	transition: all .3s ease, transform .2s ease;
	background: -webkit-linear-gradient(
			top,
			transparent 0%,
			transparent 20%,
			var(--primary-color-3) 20%,
			var(--primary-color-3) 23%,
			transparent 23%,
			transparent 48%,
			var(--primary-color-3) 48%,
			var(--primary-color-3) 50%,
			transparent 47%,
			transparent 76%,
			var(--primary-color-3) 76%,
			var(--primary-color-3) 78%,
			transparent 78%
		),
		-webkit-linear-gradient(transparent, transparent);
	background: linear-gradient(
			to bottom,
			transparent 0%,
			transparent 20%,
			var(--primary-color-3) 20%,
			var(--primary-color-3) 23%,
			transparent 23%,
			transparent 48%,
			var(--primary-color-3) 48%,
			var(--primary-color-3) 50%,
			transparent 47%,
			transparent 76%,
			var(--primary-color-3) 76%,
			var(--primary-color-3) 78%,
			transparent 78%
		),
		linear-gradient(transparent, transparent);
}
span.icon-menu:active {
	-webkit-transform: scale(0.9);
	-ms-transform: scale(0.9);
	transform: scale(0.9);
}
span.clicked {
	background: -webkit-linear-gradient(
			135deg,
			transparent 0%,
			transparent 48%,
			var(--primary-color-3) 49%,
			var(--primary-color-3) 51%,
			transparent 51%,
			transparent 100%
		),
		-webkit-linear-gradient(45deg, transparent 0%, transparent 48%, var(--primary-color-3) 49%, var(--primary-color-3)
					51%, transparent 51%, transparent 100%);
	background: linear-gradient(
			-45deg,
			transparent 0%,
			transparent 48%,
			var(--primary-color-3) 49%,
			var(--primary-color-3) 51%,
			transparent 51%,
			transparent 100%
		),
		linear-gradient(
			45deg,
			transparent 0%,
			transparent 48%,
			var(--primary-color-3) 49%,
			var(--primary-color-3) 51%,
			transparent 51%,
			transparent 100%
		);
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}
span.clicked:active,
span.clicked:hover {
	-webkit-transform: scale(0.9) rotate(180deg);
	-ms-transform: scale(0.9) rotate(180deg);
	transform: scale(0.9) rotate(180deg);
}

/* HOME */
.home {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
}
.display-align {
	height: 520px;
	display: flex;
	flex-flow: row wrap;
}
.text-display,
.logo-display {
	width: 100%;
}
.text-display {
	padding-top: 40px;
}
.text-display h1 {
	position: relative;
	padding-top: 20px;
	font-size: 38px;
	line-height: 38px;
}
.text-display h1::before,
.text-display h1::after {
	position: absolute;
	font-size: 18px;
	color: var(--primary-color-2);
	font-family: 'La Belle Aurore';
}
.text-display h1::before {
	content: '<h1>';
	top: -5px;
}
.text-display h1::after {
	content: '</h1>';
	bottom: -10px;
	right: 0;
}
.text-display p {
	font-size: 14px;
	color: var(--primary-color-2);
}
.logo-display {
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-start;
}
.logo-display .logo {
	width: 350px;
}
.scroll {
	width: 8px;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	bottom: 0;
}

/* QUEM SOU */
.about {
	position: relative;
	height: auto;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
}
.wrap-about {
	display: flex;
	flex-flow: column;
}
.wrap-text {
	height: 360px;
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-start;
}
.wrap-text p {
	font-size: 14px;
	line-height: 16px;
}
.wrap-text .social-links {
	width: 200px;
	height: 50px;
}
.social-links a {
	font-weight: 100;
	display: inline-block;
	padding: 14px 12px;
	transition: all .2s;
}
.social-links a:first-child {
	padding-left: 0;
	margin-left: -6px;
}
.social-links a:hover {
	color: var(--theme-color);
}
.photo {
	position: relative;
	align-self: center;
	width: 100%;
	max-width: 640px;
	max-height: 400px;
	margin-bottom: 40px;
}
.thumb {
	background: var(--theme-color);
	position: absolute;
	top: 10px;
	right: 10px;
	bottom: 10px;
	left: 10px;
	opacity: 0;
	transition: all 1s;
}
.thumb h4 {
	color: var(--primary-color-0);
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	text-transform: uppercase;
	font-size: 40px;
}
.thumb:hover {
	opacity: .7;
}

/* MEU DNA */
.dna {
	position: relative;
	height: auto;
	padding-bottom: 20px;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
}
.wrap-items {
	height: 113px;
}
.wrap-items span {
	font-family: 'Roboto Mono';
	display: inline-block;
	margin-bottom: 10px;
	font-size: 14px;
	font-weight: 300;
	margin-right: 20px;
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
}
.wrap-items p {
	position: relative;
}
.wrap-items p::before {
	display: block;
	position: absolute;
	top: -5px;
	left: 0;
	content: '';
	width: 100%;
	height: 1px;
	background-color: var(--theme-color);
	-webkit-transition: all .2s ease-out;
	transition: all .2s ease-out;
	-webkit-transform: scale(0.1, 1);
	-ms-transform: scale(0.1, 1);
	transform: scale(0.1, 1);
	transform-origin: center left;
}
.wrap-items p:hover::before {
	-webkit-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	transform: scale(1, 1);
}

/* CASES */
.cases {
	padding: 0 0 20px 0;
}
.cases .container .row,
.slider-list .slider-item .row {
	display: flex;
	align-items: center;
}
.cases-navigator {
	width: 145px;
	display: table;
}
.cases-navigator .navigator-counter {
	width: 100%;
	height: 90px;
	display: block;
	margin-bottom: 40px;
	position: relative;
}
.cases-navigator .navigator-counter::before {
	content: "";
	display: block;
	width: 30px;
	height: 100%;
	background: var(--primary-color-0);
	position: absolute;
	top: 0;
	left: -30px;
}
.navigator-counter span {
	font-family: 'Roboto Mono';
	font-weight: 400;
	font-size: 120px;
	line-height: 85px;
	letter-spacing: -0.1em;
	margin-left: -37px;
}
.cases-navigator .item-navigator {
	width: 100%;
	display: table;
}
.item-navigator a {
	width: 40px;
	height: 2px;
	background: #fff;
	display: block;
	margin-bottom: 60px;
}
.item-navigator a:last-child {
	margin-bottom: 40px;
}
.item-navigator a.item-active {
	background: var(--theme-color);
}
.cases-navigator .nxt-prv-items {
	width: 100%;
	height: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--primary-color-1);
}
.nxt-prv-items > div {
	height: 32px;
}
.items-counter {
	margin-left: 12px;
	margin-right: 12px;
	text-align: center;
	font-family: 'Roboto Mono';
	line-height: 32px;
	letter-spacing: -.1em;
}
.items-counter span:last-child {
	color: var(--primary-color-2);
}
ion-icon {
	cursor: pointer;
	color: var(--theme-color);
	font-size: 32px;
	transition: all .2s;
}
ion-icon:hover {
	color: var(--primary-color-3);
}
.slider-container {
	display: block;
	height: auto;
	overflow: hidden;
}
.slider-list {
	height: 70vh;
	display: block;
}
.slider-list .slider-item {
	display: block;
	float: left;
	height: 100%;
}
.case-item-info h1 {
	font-size: 60px;
	margin-bottom: 20px;
}
.case-item-info h5 {
	font-size: 14px;
	line-height: 14px;
	text-transform: uppercase;
	font-weight: 800;
	color: var(--primary-color-2);
	margin-bottom: 20px;
}

/* SCROLLBAR */
::-webkit-scrollbar {
	width: 7px !important;
}
::-webkit-scrollbar-track {
	background: var(--dark-color) !important;
}
::-webkit-scrollbar-thumb {
	background: var(--medium-dark-color) !important;
}
::-webkit-scrollbar-thumb:hover {
	background: var(--theme-color) !important;
}

/* MEDIA QUERIES */

/*============================================================
	Mobile (Landscape) Design for a width of 766px
==============================================================*/

@media only screen and (min-width: 768px) {
	/* HOME */
	.display-align {
		height: 360px;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}
	.text-display,
	.logo-display {
		flex-basis: 345px;
	}
	.text-display h1 {
		font-size: 38px;
		line-height: 38px;
	}
	/* QUEM SOU */
	.wrap-text .markup {
		font-size: 60px;
		line-height: 55px;
	}
	.wrap-text p {
		font-size: 14px;
		line-height: 19px;
	}
}

/*============================================================
	Tablet (Portrait) Design for a width of 991px
==============================================================*/

@media (min-width: 991px) {
	/* HOME */
	.display-align {
		justify-content: space-evenly;
	}
}

/*============================================================
	For Small Desktop
==============================================================*/

@media (min-width: 1366px) {
	/* HOME */
	.text-display,
	.logo-display {
		flex-basis: 540px;
	}
	.text-display h1 {
		font-size: 60px;
		line-height: 60px;
	}
	.text-display h1::before {
		top: -15px;
	}
	.text-display h1::after {
		content: '</h1>';
		bottom: -10px;
		right: 0;
	}
	.logo-display .logo {
		width: 400px;
	}
	/* QUEM SOU */
	.wrap-about {
		display: flex;
		flex-flow: row;
		align-items: center;
		align-content: center;
		justify-content: space-between;
	}
	.wrap-text:first-child,
	.wrap-text:last-child {
		flex-basis: 690px;
		height: 400px;
	}
	.wrap-text:first-child {
		padding-right: 20px;
	}
	.wrap-text:last-child {
		margin-top: 15px;
		padding-left: 20px;
	}
	.photo {
		position: relative;
		align-self: center;
		flex-basis: 690px;
		max-width: 690px;
	}
}
